@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
}

/* --------top-banner section style------------  */

.top-banner,
.discount,
.mid-banner,
.join,
.coming,
.holydays,
.fortfolio ,
.newsleter,
.end-section{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}



.top-banner {
    position: relative;
    margin-top: 50px;
}


.top-banner-text-area {
    position: absolute;
    top: 200px;
    left: 30%;

}

.top-banner img {
    width: 100%;
    border-radius: 15px;
    height: 100%;
}



.top-banner-text1 {
    color: white;
    font-size: 34px;
    text-align: center;
}

.top-banner-text2 {
    color: white;
    font-size: 70px;
    text-align: center;
}

/* --------discount section style------------  */
.discount-text1 {
    text-align: center;
    font-size: 88px;
    color: red;
    margin-bottom: 20px;
}

.discount-text2 {
    text-align: center;
    font-size: 24px;
    color: red;
}

.discount-text3 {
    text-align: center;
    font-size: 48px;
    color: black;
    margin-bottom: 20px;
}

.new-year-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------mid-banner section style------------  */
.mid-banner {
    margin-top: 100px;
}

.mid-banner-content img {
    width: 100%;
    border-radius: 20px;
    height: 100%;
}

.mid-banner-content {
    position: relative;

}


.overlay1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
    border-radius: 20px;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 99.5%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
    border-radius: 20px;
}

.mid-banner-text {
    position: absolute;
    top: 30%;
    left: 10%;
}


.mid-banner-text1 {
    color: white;
    font-size: 64px;
    margin-bottom: 10px;
}

.mid-banner-text2 {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

.btn1 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    background-color: none;
}

/* --------join section style------------  */
.join {
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ffe9e9, #fff);
    border-radius: 15px;
    margin-top: 100px ;
    margin-bottom: 100px;
}
.join-text{
    /* display: flex; */
    /* align-items: center; */
}
.join-text h1 {
    color: black;
    font-size: 32px;
    text-align: center;
}

.span-text {
    color: red;
}

.btn2 {
    color: white;
    background: red;
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: 600;
}
.joinBtn{
     display: flex;
     justify-content: center;
     align-items: center;
}

/* --------comming soon section style------------  */
.coming-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.coming-text {
    width: 33.33%;
}

.comming-img {
    width: 100%;
    padding: 30px;
    border: 10px solid red;
    border-radius: 50%;
}

.coming-text1 {
    color: red;
    font-size: 48px;
}

.coming-text2 {
    color: gray;
    font-size: 20px;
    margin-top: 10px;
}

.coming-text3 {
    color: red;
    font-size: 24px;
}

.coming-text4 {
    color: black;
    font-size: 48px;
}

.coming-text5 {
    color: gray;
    font-size: 20px;
    margin-top: 10px;
}


/* holydays  */
.holydays {
    margin-top: 50px;
}

.holydays-content h1 {
    text-align: center;
    font: 24px;
}

.fun-text {
    text-align: center;
    font-size: 24px;
}

.sale-text {
    text-align: center;
    font-size: 72px;
    margin-bottom: 10px;
}

.holydays-content p {
    text-align: center;
    width: 500px;
    margin: auto;

}
.holydays-content{
    height: 1000px;
    width: 100%;
}



.parent-bg{
    width: 100%;
    height: 100px;
    position: relative;
    margin-top: 100px;
}

.bg1{
    background-image: url('../images/Rectangle 1.png');
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 15px 15px 0px 0px;
}
.bg2{
    background-image: url('../images/Rectangle 2.png');
    height: 800px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
   
}
.dropimg1{
position: absolute;

}
.dropimg2{
position: absolute;
right: 270px;
}

/* portfolio  */
.fortfolio{
    margin-top: 100px;
}
.portfolio-text1 {
    color: red;
    font-size: 24px;
}
.portfolio-text2 {
    font-size: 48px;
}
.portfolio-text3 {
    font-size: 20px;
    width: 580px;
}
.portfolio-img img{
    width: 100%;
}
.portfolio-img{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
   gap: 20px;
}

/* newsleter  */
.newsleter{
    height: 600px;
    background: #FFF2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 35px;
    margin-bottom: 40px;
}
.newsleter-content{
   text-align: center;
}
.newsleter-content h1{
    font-size: 48px;
    margin-bottom: 10px;
}
.newsleter-content p{
    width: 500px;
    font-size: 20px;
    margin-bottom: 10px;
}
.sub input{
 outline: none;
 border: none;
 padding: 15px 25px;
 border-radius: 50px 0px 0px 50px;
}
.sub button{
    outline: none;
    border: none;
    padding: 15px 25px;
    border-radius: 0px 50px 50px 0px;
    color: white;
    background-color: red;
}
.sub{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer  */
footer{
    background-color: #070211;
    width: 100%;
    height: 500px;
}
.footer-content{
    padding: 40px 0;
    /* margin: 100px 0px; */

}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: whitesmoke;
   
}
.footer-content h1{
    font-size: 24px;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.contact{
    margin-right: 50px;
}